.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* buttons layout */
.buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
#equals {
  grid-area: 1 / 1 / 2 / 3;
}
#clear {
  grid-area: 1 / 3 / 2 / 4;
}
#decimal {
  grid-area: 2 / 1 / 3 / 2;
}
/* display */
.display {
  background-color: white;
  width: 13%;
  color: #282c34;
  margin: 15px;
}
